html, body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center center;
  height: 100vh;
  background: #2d3436;
}

canvas {
  display: block;
  border: 3px solid #ddd;
  border-radius: 1em;
}