html, body {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center center;
  height: 100vh;
  background: #333;
}

canvas {
  display: block;
  border:3px solid salmon;
  border-radius: 1em;
}
